@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: white;
  --menu: red;
  --menuText: #55551C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: white;
    --menu: red;
    --menuText: #55551C;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.linha {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #55551C;
  vertical-align: middle;
}

@media (min-width: 1536px) {
  .desktop-block {
    display: block; /* Exibe o elemento */
  }
}

.prevent-clicks {
  pointer-events: none;
}