@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E2DED2;
  --foreground: #896337;
  --menu: #AFA38B;
  --menuText: #1E1E1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E;
    --foreground: #896337;
    --menu: #AFA38B;
    --menuText: #E2DED2;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ae967a;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #896337;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4e4337;
  }
}

.prevent-clicks {
  pointer-events: none;
}

@font-face {
  font-family: 'InterTight';
  font-style: regular;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/InterTight-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'InstrumentSerif-Regular';
  font-style: regular;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/InstrumentSerif-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'InstrumentSerif-Italic';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/InstrumentSerif-Italic.ttf') format('ttf');
}

.font-inter {
  font-family: 'InterTight', sans-serif;
  font-stretch: ultra-condensed;
}


button:disabled {
  opacity: 0.5;
}

.sctretj {
  font-stretch: expanded;
}