@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E2DED2;
  --foreground: #896337;
  --menu: #AFA38B;
  --menuText: #1E1E1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E;
    --foreground: #896337;
    --menu: #AFA38B;
    --menuText: #E2DED2;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.prevent-clicks {
  pointer-events: none;
}